<!DOCTYPE HTML>
<html lang="">

<head>
    <meta charset="UTF-8">
    <title>外卖</title>
    <link rel="stylesheet" type="text/css" href="bower/bootstrap-3.3.5-dist/css/cosmo.css">
    <link rel="stylesheet" type="text/css" href="bower/font-awesome-4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/base.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script src="bower/angular/angular.js"></script>
    <script src="bower/angular-animate/angular-animate.js"></script>
    <script src="bower/angular-ui-bootstrap/uibootstrap.js"></script>
    <script src="js/common.js"></script>
    <script src="js/resController.js"></script>
</head>

<body ng-app="o2o" ng-controller="pageCtrl">
    <nav class="navbar navbar-default navbar-fixed-top nav-main">
        <div class="container">
            <div class="collapse navbar-collapse" id="main-nav">
                <ul class="nav navbar-nav">
                    <li><a href="index.html"><i class="fa fa-map-marker"></i>&emsp;珠海-唐家镇&emsp;[切换]</a>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="register.html">注册</a>
                    </li>
                    <li><a href="login.html">登录</a>
                </ul>
            </div>
        </div>
    </nav>
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-xs-3">
                    <a href="main.html"><img src="img/tomcat.png" class="logo">
                    </a>
                </div>
                <div class="col-xs-3">
                    <a href="main.html">首页</a><span class="vertical-line">&#124;</span>
                    <a href="mine.html">我的外卖</a><span class="vertical-line">&#124;</span>
                    <a href="#">热门美食</a>
                </div>
                <div class="col-xs-5 col-xs-offset-1">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="输入餐厅" ng-model="searchArea">
                        <span class="input-group-btn">
                            <button class="btn btn-danger" type="button" id="searchBtn">搜索</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row res-info">
            <div class="col-xs-12">
                <div class="res-logo">
                    <img src="img/res.jpg">
                </div>
                <div class="res-detail">
                    <h3>炸Tomcat</h3>
                    <p class="text-muted">珠海市唐家湾镇伊妹儿网吧旁</p>
                    <p class="text-muted">0元起送</p>
                </div>
                <div class="res-data">
                    <div class="res-data-box">
                        <h1>4.2</h1>
                        <p class="text-muted">商家评分</p>
                    </div>
                    <div class="res-data-seperator"></div>
                    <div class="res-data-box">
                        <h1>44</h1>
                        <p class="text-muted">平均送餐时间</p>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>

        <div class="row res-main">
            <div class="col-xs-8">
                <div class="row">
                    <tabset justified="true">
                        <tab heading="餐点">
                            <div class="col-xs-12 tab-inner">
                                <div class="btn-group btn-group-justified" role="group">
                                    <div class="btn-group" role="group" ng-repeat="type in foodTypes">
                                        <button class="btn btn-danger" ng-class="{true: 'active', false: ''}[type==selectedFoodType]" ng-click="changeFoodType(type)">{{type}}</button>
                                    </div>
                                </div>
                                <table class="table table-hover table-food">
                                    <tbody>
                                        <tr ng-repeat="f in foods" ng-show="f.type==selectedFoodType||selectedFoodType=='全部'">
                                            <td>{{f.name}}</td>
                                            <td class="table-food-price"><b>￥{{f.price}}/份</b>
                                            </td>
                                            <td class="table-food-action">
                                                <button type="button" class="btn btn-danger btn-sm" ng-click="addToCart($index)"><i class="fa fa-plus"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </tab>
                        <tab heading="评价">
                            <div class="col-xs-12 tab-inner">
                                <div class="btn-group btn-group-justified" role="group">
                                    <div class="btn-group" role="group" ng-repeat="type in commentTypes">
                                        <button class="btn btn-danger" ng-class="{true: 'active', false: ''}[type==selectedCommentType]" ng-click="changeCommentType(type)">{{type}}</button>
                                    </div>
                                </div>
                                <div class="comments">
                                    <div class="comment-box" ng-repeat="c in comments">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <span class="text-muted">总体评分: </span>
                                                <i class="fa fa-star star" ng-class="{true:'active',false:''}[c.rating>=1]"></i>
                                                <i class="fa fa-star star" ng-class="{true:'active',false:''}[c.rating>=2]"></i>
                                                <i class="fa fa-star star" ng-class="{true:'active',false:''}[c.rating>=3]"></i>
                                                <i class="fa fa-star star" ng-class="{true:'active',false:''}[c.rating>=4]"></i>
                                                <i class="fa fa-star star" ng-class="{true:'active',false:''}[c.rating>=5]"></i>
                                            </div>
                                            <div class="col-xs-6 text-right">
                                                <p class="text-muted">{{c.date}}</p>
                                            </div>
                                            <div class="col-xs-12">
                                                <p>{{c.body}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tab>
                    </tabset>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="panel panel-danger">
                    <div class="panel-heading">商家公告</div>
                    <div class="panel-body">
                        小伙伴们，我们的店铺可以使用支付红包省钱钱了，花点小功夫用起来吧，愿大家生活愉快！
                    </div>
                </div>
                <div class="panel panel-danger cart">
                    <div class="panel-heading">购物车</div>
                    <div class="panel-body">
                        <div class="orders">
                            <div class="order-box" ng-repeat="c in cart">
                                <div class="order-name">{{c.name}}</div>
                                <div class="input-group order-num">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default btn-sm" type="button" ng-click="less($index)">-</button>
                                    </span>
                                    <input type="text" class="form-control input-sm" value="{{c.num}}" readonly>
                                    <span class="input-group-btn">
                                        <button class="btn btn-default btn-sm" type="button" ng-click="more($index)">+</button>
                                    </span>
                                </div>
                                <div class="order-price">￥{{c.price}}</div>
                                <div class="clear"></div>
                            </div>

                        </div>
                        <div class="pay">
                            <span class="total">￥{{getCartValue()}}</span>
                            <button class="btn btn-success pull-right" ng-click="order()">去下单</button>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
